{% extends "base.html" %}

{% block content %}

<div class="container-login">
    <div class="row align-items-center justify-content-center">
  
        <div class="col-lg-10"> 
            <div class="bg-white p-4 rounded-3 shadow">
                <h3 class="text-dark text-center">Forgot Password</h3>
                {% include 'includes/alerts.html' %}
                <form class="form" action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <input type="password" class="form-control" name="confirm_password" id="password" placeholder="Confirm Password" required>
                    <p class="text-dark float-right">
                        Got password? <a href={% url "login" %}>Login</a>
                    </p>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
            <br>
            <p class="text-dark text-center">
                Don't have account? <a href={% url "register" %}>SingUp</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}