
{% load static %}

      <!-- Sidebar -->
      <nav class="col-sm-3 col-md-2 col-lg-2 bg-light sidebar py-4">
        <a href="{% url "home" %}" class="brand-wrap">
          <img class="logo" src="{% static "./images/suitup_logo.png" %}">
       </a> <!-- brand-wrap.// -->
        <br><br>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img class="logo" src="{% static "./images/admin_icon.png" %}">
            <h4>Admin :  {{user.first_name}}</h4>
          </li>
          <br><br>
          <li class="nav-item">
            <a href="{% url "customer_management" %}" class="btn btn-info btn-block">Customer Management</a>
          </li>
          <br>
          <li class="nav-item">
            <a href="{% url "product_management" %}" class="btn btn-primary btn-block">Product Management</a>
          </li>
          <br>
          <li class="nav-item">
            <a href="{% url "category_management" %}" class="btn btn-info btn-block">Category Management</a>
          </li>
          <br><br><br>
          <li class="nav-item">
            <a href="{% url "admin_logout" %}" class="btn btn-primary btn-block">Logout</a>
          </li>
        </ul>
      </nav>

    