{% extends "base_admin.html" %} 
{% load static %}

{% block content %}

<div class="container">
  <article class="card-body">
    {% include "includes/alerts.html" %}
    <header class="mb-4"><h4 class="card-title">Add Category</h4></header>
    <form action="{% url "add_category" %}" method=POST> {% csrf_token %}
    <form method="post">
      {% csrf_token %} {{ category_add_form}}
      <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
  </article>

  {% endblock content %}
</div>
