{% extends "base_admin.html" %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="dashboard-header">
        <h1 style="font-weight: bold">Inventory Management</h1>
        <a href="{% url "add_product_stock"%}" class="btn btn-primary">Add Stock</a>
        
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product_id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Variations</th>
            <th scope="col">Stock</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.product_name}}</td>
            <td><a href="{% url "get_variations" product.id %}" class="btn btn-info">Variations</a></td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
                Open Modal
              </button>

        <!-- Modal -->
              <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      {{product.product_name}}
                        <div class="modal-header">
                            <h5 class="modal-title" id="testModalLabel">Test Modal</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This is a test modal.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
              </div>
            </td>
            <td></td>
            <td>
              {% comment %} <form method="POST" action="{% url "delete_stock" stock.id %}" onsubmit="return confirm('Are you sure you want to delete this Stock?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel Stock</button>
              </form> {% endcomment %}
            </td>

           
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
</div>

{% endblock content %}