{% extends "base_admin.html" %} 


{% load static %} 

{% block content %}
  
  <h1>Create Stock</h1>
    <form method="post" id="stock-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <script>
        $(document).ready(function () {
            $('#id_product').change(function () {
                var productId = $(this).val();
                if (productId) {
                    $.ajax({
                        url: "{% url 'load_variations' %}",
                        data: {
                            'product_id': productId
                        },
                        success: function (data) {
                            $('#id_variation_combo').empty();
                            $.each(data, function (index, item) {
                                $('#id_variation_combo').append(
                                    `<option value="${item.id}">${item.variation_category__name} - ${item.variation_value}</option>`
                                );
                            });
                        }
                    });
                } else {
                    $('#id_variation_combo').empty();
                }
            });
        });
    </script>
  
{% endblock content %}

