{% extends "base.html" %} 
{% load static %}
{% load custom_filters %} 
{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- Product Details Card -->
    <div class="card">
      <div class="row">
        <!-- Left: Image Section -->
        <aside class="col-md-6">
          <div class="product-gallery">
            <!-- Main Image -->
            <div class="main-image-container">
              <img
                id="main-image"
                src="{{ single_product.images.url }}"
                alt="{{ single_product.product_name }}"
                class="main-image"
              />
            </div>

            <!-- Thumbnails -->
            <div class="thumbnails d-flex mt-3">
              <img
                class="thumbnail mx-1"
                src="{{ single_product.images.url }}"
                alt="{{ single_product.product_name }}"
                data-full="{{ single_product.images.url }}"
              />
              {% for image in additional_images %}
              <img
                class="thumbnail mx-1"
                src="{{ image.image.url }}"
                alt="{{ single_product.product_name }}"
                data-full="{{ image.image.url }}"
              />
              {% endfor %}
            </div>
          </div>
        </aside>

        <!-- Right: Zoom Image with Text -->
        <main class="col-md-6 position-relative">
          <!-- Text Section -->
          <div class="text-overlay">
            <h2 class="title">{{ single_product.product_name }}</h2>
            <div class="container">
              <p class="text-justify">{{ single_product.description }}</p>
            </div>
          
            <br>
            <!-- Product price from Ajax -->
            <div id="product-price"></div>

          </div>
          <hr />
          

          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            {% for variation_type, values in grouped_variations.items %}
            <div class="row">
                <div class="item-option-select">
                    <h6>Choose {{ variation_type|capfirst }}</h6>
                    <select name="{{ variation_type }}" id="{{ variation_type }}" class="form-control" required>
                        <option value="" disabled selected>Select</option>
                        {% for value in values %}
                        <option value="{{ value|capfirst }}">{{ value|capfirst }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
            <hr />
            <div id="stock-status"></div>

            <div id="add-cart-button"></div>
        </form>
        

          <!-- Zoom Image -->
          <div class="zoom-container">
            <div id="zoom-window" class="zoom-image"></div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>

<script>
  const checkStockUrl = "{% url 'check_stock' single_product.id %}";
</script>

{% endblock content %}
