
{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="text-center mb-10">Review the order and make payment</h4>
    <div class="row">
        <aside class="col-lg-8">
          <div class="card text-left">
            <h5 class="card-header">Billing Address</h5>
            <div class="card-body">
              <p class="card-text mb-0">{{order.order_address.full_name}}</p>
              <p class="card-text mb-0">{{order.order_address.full_address}}</p>
              <p class="card-text mb-0">{{order.order_address.city}}, {{order.order_address.state}}</p>
              <p class="card-text mb-0">{{order.order_address.country}}</p>
            </div>
          </div>

          <div class="card text-left">
            <h6>Wallet Balance : {{wallet.wallet_balance}}</h6>
           
            <form  action="{% url "place_order" %}" method="post" id="balanceForm">
              {% csrf_token %}
              <label for="amount">Enter an amount:</label>
              <input type="number" id="wallet_amount" name="wallet_amount" max="{{wallet.wallet_balance}}" placeholder="Enter a number" required value="{{ wallet_amount }}">
              <button type="submit" name="form" value="walletform">Submit</button>
            </form>
            <p id="error-message1" style="color: red; display: none;">Amount exceeds wallet balance!</p>
            <p id="error-message2" style="color: red; display: none;">Amount exceeds Order amount!</p>
          </div>
          <form id="paymentForm" action="{% url "payment" order.id %}" method="POST">
            {% csrf_token %}
            <div class="card text-left">
              <h5 class="card-header">Payment Method</h5>
              <div class="card-body">
                <div class="item-option-select">
                  <h6>Choose Payment Method</h6>
                  {% if order.payable_amount != 0 %}
                  <select name="payment_method" data-order-product-id="{{ order_product.id }}" class="form-control w-auto change-payment-mode" required>
                    <option value="" >Select an option</option> 
                    <option value="pay_now" >Razorpay</option>
                    {% if  payable_amount <= 1000 %}
                    <option value="cash_on_delivery">Cash on Delivery</option>
                    {% endif %}
                  </select>
                  {% if payable_amount > 1000 %}
                  <small>COD not available</small>
                   {% endif %}
                 {% else %}
                  <p>Payament amount : {{order.payable_amount}}</p>
                 {% endif %}
              </div> 
              </div>
            </div>
            <div class="card text-left">
              <h5 class="card-header">Review Products</h5>
              <div class="card-body">
                <table class="table table-borderless table-shopping-cart w-auto text-center">
                  <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
            
                  </tr>
                  </thead>
                  <tbody>
            
                  {% for cart_item in cart_items %}
                  <tr>
                      <td>
                          <figure class="itemside align-items-center">
                              <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                              <figcaption class="info">
                                  <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                  <p class="text-muted small">
                                    {% if cart_item.stock.variation_combo.all %}
                                        {% for item_variation in cart_item.stock.variation_combo.all %}
                                            {{ item_variation.variation_category.name | capfirst }} : {{ item_variation.variation_value | capfirst }} <br>
                                        {% endfor %}
                                      {% endif %}
                                </p>
                              </figcaption>
                          </figure>
                      </td>
                      <td>
                          <!-- col.// -->
                                  <label for="">{{cart_item.quantity}}</label>
                      </td>
                      <td>
                          <div class="price-wrap">
                              <var class="price">$ {{ cart_item.sub_total }}</var>
                              <small class="text-muted"> $ {{ cart_item.stock.price }} each </small>
                          </div> <!-- price-wrap .// -->
                      </td>
            
                  </tr>
                  {% endfor %}

                  
            
                  </tbody>
                  </table>
              </div>
      
          </aside> <!-- col.// -->
          <aside class="col-lg-4">
      
              <div class="card">
              <div class="card-body">
                  <dl class="dlist-align">
                    <dt>Sub Total:</dt>
                    <dd class="text-right">₹{{sub_total}}</dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Coupon Discount:</dt>
                    <dd class="text-right text-dark b"><strong>₹{{discount_amount}}</strong></dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Net Total:</dt>
                    <dd class="text-right text-dark b"><strong>₹{{net_total}}</strong></dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Tax:</dt>
                    <dd class="text-right"> ₹{{tax}}</dd>
                  </dl>
                  
                  <dl class="dlist-align">
                    <dt>Grand Total:</dt>
                    <dd class="text-right text-dark b"><strong>₹{{grand_total}}</strong></dd>
                  </dl>
                  <hr>
                  <dl class="dlist-align">
                    <dt>Amount from Wallet:</dt>
                    <dd class="text-right text-dark b"><strong> - ₹{{wallet_amount}}</strong></dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Payable Amount:</dt>
                    <dd class="text-right text-dark b"><strong>₹{{payable_amount}}</strong></dd>
                  </dl>
                  
                  <hr>
                 
                  <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
              </form>
              <br>
              <div>
                <h6>Wallet Balance : {{wallet.wallet_balance}}</h6>
              </div>
                
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->


    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS (make sure this comes after jQuery) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
      {% comment %} $(document).ready(function () {
        // Trigger the modal programmatically when the dropdown value is 'wallet'
        document.querySelectorAll('.change-payment-mode').forEach(function (dropdown) {
            dropdown.addEventListener('change', function (event) {
                if (event.target.value === 'wallet') {
                    var modal = new bootstrap.Modal(document.getElementById('WalletModal'));
                    modal.show();  // Show the modal programmatically
                }
            });
        });

        $('.close, .btn-secondary').on('click', function() {
          $('#WalletModal').modal('hide');
      });
    
        // Ensure the page reloads only after the modal is completely hidden
        var walletModal = document.getElementById('WalletModal');
        walletModal.addEventListener('hidden.bs.modal', function () {
            location.reload();  // Reloads the page when the modal is hidden
        });
    });  {% endcomment %}

    document.getElementById("balanceForm").addEventListener("submit", function(event) {
      const wallet_amount = parseFloat(document.getElementById("wallet_amount").value);
      const maxBalance = parseFloat("{{wallet.wallet_balance}}");
      const order_grand_total = parseFloat("{{order.grand_order_total}}");
    
      if (wallet_amount > maxBalance) {
        event.preventDefault(); // Prevent form submission
        document.getElementById("error-message1").style.display = "block";
    } else if (wallet_amount > order_grand_total) {
        event.preventDefault(); // Prevent form submission
        document.getElementById("error-message2").style.display = "block";
    } else {
        document.getElementById("error-message1").style.display = "none";
        document.getElementById("error-message2").style.display = "none";
    }
    });
    
    
    </script>

{% endblock content %}